<div class="dashboard" [class.has-sidebar]="showSidebar" [class.collapsed]="isSidebarCollapsed">

  <!-- Sidebar -->
  <app-slide-bar
    *ngIf="showSidebar"
    [isCollapsed]="isSidebarCollapsed"
    (toggleCollapse)="toggleCollapse()"
    [class.open]="isSidebarOpen">
  </app-slide-bar>

  <!-- Mobile overlay -->
  <div class="overlay"
    *ngIf="isSidebarOpen && showSidebar"
    (click)="toggleSidebar()">
  </div>

  <!-- Main Content -->
  <div class="content" [class.no-sidebar]="!showSidebar">
    <!-- Mobile hamburger -->
    <router-outlet></router-outlet>
  </div>

</div>